<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">

		<!-- Page script  -->
		<script type="text/javascript" src="/js/dashboardscript.js"></script>

		<!-- Title  -->
		<title>Healthcare_Dashboard_COMP5703</title>

	</head>

	<body>

		<h3> Healthcare Data Dashboard </h3>
		<br>
		<div>
			<iframe id="iframe" scrolling="no" frameborder="0"  onload="iframesize()" src = <%= url %> ></iframe>
		</div>
		<br>
		<%= url %>
		<br>
	</body>
</html>